In [1]:
#讀取檔案
import glob
flist = glob.glob("airbnb/*.csv")
flist

['airbnb\\am.reviews.csv', 'airbnb\\an.reviews.csv']

In [2]:
import pandas as pd
# Concat第一種寫法
df = None
for fn in flist:
    temp = pd.read_csv(fn, encoding = "utf-8")
    if df is None:
        # 第一個csv -> df設定成第一個
        df = temp
    else:
        # 第二個csv以後 -> 嫁接到原本的csv
        df = pd.concat([df,temp], axis = 0)
df

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...
5,2818,4748,2009-06-29,20192,Jie,Daniel was a great host! He made everything so...
6,2818,5202,2009-07-07,23055,Vanessa,Daniele is an amazing host! He provided everyt...
7,2818,9131,2009-09-06,26343,Katja,You can´t have a nicer start in Amsterdam. Dan...
8,2818,12103,2009-10-01,40999,Marie-Eve,Daniel was a fantastic host. His place is calm...
9,2818,16196,2009-11-04,38623,Graham,Daniel was great. He couldn.t do enough for us...
10,2818,18095,2009-11-23,48138,Klaus,Daniel has been more then a great host: it was...
11,2818,18286,2009-11-25,55661,Michael,Daniel's apartment and room was spotless. Dani...
12,2818,24925,2010-01-27,33284,Araz,Daniel was an exeptional host!! We only had a ...
13,2818,31154,2010-03-24,82918,Natalie,No amount of praise for Daniel would be corny ...
14,2818,35916,2010-04-16,97200,Ludovic,"It's the perfect place: clean, safe, noiseless..."
15,2818,36774,2010-04-19,103149,Faisal,"When you reach at Dainel place, be sure that a..."
16,2818,39856,2010-05-03,112391,Rickey,"Daniel is a terrific host, like one of the oth..."
17,2818,45708,2010-05-24,79479,David,Daniel was a fantastic host and we would absol...
18,2818,48766,2010-06-01,99878,Josh And Alan,Our stay with Daniel was truly one of the high...
19,2818,54108,2010-06-17,131821,Amelia,Daniel was very accomodating and friendly. It ...
20,2818,54654,2010-06-19,97097,Jenn,Daniel's place was great! We got so much relax...
21,2818,58048,2010-06-27,147769,Andrew,Just a short note - my first experience with A...
22,2818,62552,2010-07-08,15745,David,Daniel was an exceptional host! I was primari...
23,2818,73222,2010-08-03,164729,Michel,Daniel is a great host. He is a very sweet and...
24,2818,74084,2010-08-05,171625,Lezle,We spent two nights at Daniel's and very much ...
25,2818,87063,2010-08-30,175043,Andrew,"Daniel was an excellent host, and I whole hear..."
26,2818,91025,2010-09-06,105289,Nadia,Daniel is a fantastic host who cares about the...
27,2818,94243,2010-09-10,202035,Agam,Daniel's setup was very good. Like other revi...
28,2818,97728,2010-09-15,211004,Alexandra,Our stay at Daniel was awesome. He has a beaut...
29,2818,105516,2010-09-26,217961,Sam,my stay with Daniel was truly one of the highl...
...,...,...,...,...,...,...
54393,29401728,343653547,2018-11-01,10843,Jyl,"Beautiful, cozy, bright space located close t..."
54394,29401728,347344854,2018-11-11,55885319,Deegrol,Charisse is zeer vriendelijk! Heel stijlvol ap...
54395,29411833,343092544,2018-10-30,93898814,Alan,Appartement très bien situé et extrêmement con...
54396,29411833,344690448,2018-11-04,184727226,Andrew,Martin s place is very close to the Cathedral ...
54397,29423576,344694932,2018-11-04,174967669,Ernst-Jan,Een prima appartement op een perfecte plek! 50...
54398,29423576,348535132,2018-11-14,107079327,Gina,The location made our visit very convenient. D...
54399,29423576,349925795,2018-11-18,119133384,Gerry,A wonderful place in a great location. Dirk an...
54400,29431511,345841671,2018-11-06,26958275,Heike Hertger,Die Unterkunft ist hell und geschmackvoll eing...
54401,29450086,341238037,2018-10-26,35944343,Wendy,Janice and husband are very nice people. Great...
54402,29454542,341194365,2018-10-26,154019613,Jelena,The house is in a weird street but is about 1...
54403,29454542,341514671,2018-10-27,190293925,Casa Flora,"Todo muy bien! Un lugar accesible, cómodo y ag..."
54404,29454542,343101091,2018-10-30,182787654,Franziska,Preis-Leistungsverhältnis unschlagbar! \nLau h...
54405,29454542,346955244,2018-11-10,184954315,Hrisi,Very well kept and clean place! The hosts we'r...
54406,29523297,342757153,2018-10-29,222568387,Kevser,Das Haus ist in einem super Zustand und sehr s...
54407,29523297,344976456,2018-11-04,211781025,Perrine,Peggy est extrêmement gentille et humaine. Nou...
54408,29523297,349934265,2018-11-18,16393674,Sofia,L appartement est conforme à la description et...
54409,29561326,347880941,2018-11-12,13024684,Eva,My friend and I stayed at Sofie‘s place for a ...
54410,29562413,344852096,2018-11-04,35215920,Michael,Our stay at Kevin was really perfect. We have ...
54411,29562413,347349983,2018-11-11,28019707,Nils,5 Stars *****\nWe had four wonderful days in K...
54412,29562413,348516499,2018-11-14,213004122,Philippe,Magnificent studio in Antwerp with a beauty of...
54413,29563117,344915807,2018-11-04,12722672,Charles,Very nice place and amazing view !
54414,29563117,346586206,2018-11-09,50656860,Danuta,Beautiful apartment! The host was very friendl...
54415,29618224,343379052,2018-10-31,223126400,Sally,"Beautiful location very nice apartment , just ..."
54416,29646114,343612142,2018-11-01,208838964,Jialing,"Communicatie,gastvrijheid en stijlvolle kamer."
54417,29646114,344269173,2018-11-03,14558602,Matt,Good place for a quick stay over. Andrii is ve...
54418,29682609,344670394,2018-11-04,46374070,Ed,I stayed during a special circumstance (they a...
54419,29797685,349755114,2018-11-18,226146141,Yanaika,Wij hebben een super verblijf gehad dit in com...
54420,29845958,349413895,2018-11-17,9727326,Billie,Top verhuurders. Heel toffe attentie! Heel tof...
54421,29934730,347757589,2018-11-11,17829059,Evert,The host canceled this reservation 32 days bef...
54422,29975888,349006632,2018-11-16,48610121,Monica,"De verdad que es una hermosura de casa, de var..."

In [3]:
# 先準備等一下要接所有csv的list
alldf = []
for fn in flist:
    # 每讀一個, 就把它丟進list
    temp = pd.read_csv(fn, encoding="utf-8")
    alldf.append(temp)
# 最後一次concat
df2 = pd.concat(alldf, axis=0)
df2

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...
5,2818,4748,2009-06-29,20192,Jie,Daniel was a great host! He made everything so...
6,2818,5202,2009-07-07,23055,Vanessa,Daniele is an amazing host! He provided everyt...
7,2818,9131,2009-09-06,26343,Katja,You can´t have a nicer start in Amsterdam. Dan...
8,2818,12103,2009-10-01,40999,Marie-Eve,Daniel was a fantastic host. His place is calm...
9,2818,16196,2009-11-04,38623,Graham,Daniel was great. He couldn.t do enough for us...
10,2818,18095,2009-11-23,48138,Klaus,Daniel has been more then a great host: it was...
11,2818,18286,2009-11-25,55661,Michael,Daniel's apartment and room was spotless. Dani...
12,2818,24925,2010-01-27,33284,Araz,Daniel was an exeptional host!! We only had a ...
13,2818,31154,2010-03-24,82918,Natalie,No amount of praise for Daniel would be corny ...
14,2818,35916,2010-04-16,97200,Ludovic,"It's the perfect place: clean, safe, noiseless..."
15,2818,36774,2010-04-19,103149,Faisal,"When you reach at Dainel place, be sure that a..."
16,2818,39856,2010-05-03,112391,Rickey,"Daniel is a terrific host, like one of the oth..."
17,2818,45708,2010-05-24,79479,David,Daniel was a fantastic host and we would absol...
18,2818,48766,2010-06-01,99878,Josh And Alan,Our stay with Daniel was truly one of the high...
19,2818,54108,2010-06-17,131821,Amelia,Daniel was very accomodating and friendly. It ...
20,2818,54654,2010-06-19,97097,Jenn,Daniel's place was great! We got so much relax...
21,2818,58048,2010-06-27,147769,Andrew,Just a short note - my first experience with A...
22,2818,62552,2010-07-08,15745,David,Daniel was an exceptional host! I was primari...
23,2818,73222,2010-08-03,164729,Michel,Daniel is a great host. He is a very sweet and...
24,2818,74084,2010-08-05,171625,Lezle,We spent two nights at Daniel's and very much ...
25,2818,87063,2010-08-30,175043,Andrew,"Daniel was an excellent host, and I whole hear..."
26,2818,91025,2010-09-06,105289,Nadia,Daniel is a fantastic host who cares about the...
27,2818,94243,2010-09-10,202035,Agam,Daniel's setup was very good. Like other revi...
28,2818,97728,2010-09-15,211004,Alexandra,Our stay at Daniel was awesome. He has a beaut...
29,2818,105516,2010-09-26,217961,Sam,my stay with Daniel was truly one of the highl...
...,...,...,...,...,...,...
54393,29401728,343653547,2018-11-01,10843,Jyl,"Beautiful, cozy, bright space located close t..."
54394,29401728,347344854,2018-11-11,55885319,Deegrol,Charisse is zeer vriendelijk! Heel stijlvol ap...
54395,29411833,343092544,2018-10-30,93898814,Alan,Appartement très bien situé et extrêmement con...
54396,29411833,344690448,2018-11-04,184727226,Andrew,Martin s place is very close to the Cathedral ...
54397,29423576,344694932,2018-11-04,174967669,Ernst-Jan,Een prima appartement op een perfecte plek! 50...
54398,29423576,348535132,2018-11-14,107079327,Gina,The location made our visit very convenient. D...
54399,29423576,349925795,2018-11-18,119133384,Gerry,A wonderful place in a great location. Dirk an...
54400,29431511,345841671,2018-11-06,26958275,Heike Hertger,Die Unterkunft ist hell und geschmackvoll eing...
54401,29450086,341238037,2018-10-26,35944343,Wendy,Janice and husband are very nice people. Great...
54402,29454542,341194365,2018-10-26,154019613,Jelena,The house is in a weird street but is about 1...
54403,29454542,341514671,2018-10-27,190293925,Casa Flora,"Todo muy bien! Un lugar accesible, cómodo y ag..."
54404,29454542,343101091,2018-10-30,182787654,Franziska,Preis-Leistungsverhältnis unschlagbar! \nLau h...
54405,29454542,346955244,2018-11-10,184954315,Hrisi,Very well kept and clean place! The hosts we'r...
54406,29523297,342757153,2018-10-29,222568387,Kevser,Das Haus ist in einem super Zustand und sehr s...
54407,29523297,344976456,2018-11-04,211781025,Perrine,Peggy est extrêmement gentille et humaine. Nou...
54408,29523297,349934265,2018-11-18,16393674,Sofia,L appartement est conforme à la description et...
54409,29561326,347880941,2018-11-12,13024684,Eva,My friend and I stayed at Sofie‘s place for a ...
54410,29562413,344852096,2018-11-04,35215920,Michael,Our stay at Kevin was really perfect. We have ...
54411,29562413,347349983,2018-11-11,28019707,Nils,5 Stars *****\nWe had four wonderful days in K...
54412,29562413,348516499,2018-11-14,213004122,Philippe,Magnificent studio in Antwerp with a beauty of...
54413,29563117,344915807,2018-11-04,12722672,Charles,Very nice place and amazing view !
54414,29563117,346586206,2018-11-09,50656860,Danuta,Beautiful apartment! The host was very friendl...
54415,29618224,343379052,2018-10-31,223126400,Sally,"Beautiful location very nice apartment , just ..."
54416,29646114,343612142,2018-11-01,208838964,Jialing,"Communicatie,gastvrijheid en stijlvolle kamer."
54417,29646114,344269173,2018-11-03,14558602,Matt,Good place for a quick stay over. Andrii is ve...
54418,29682609,344670394,2018-11-04,46374070,Ed,I stayed during a special circumstance (they a...
54419,29797685,349755114,2018-11-18,226146141,Yanaika,Wij hebben een super verblijf gehad dit in com...
54420,29845958,349413895,2018-11-17,9727326,Billie,Top verhuurders. Heel toffe attentie! Heel tof...
54421,29934730,347757589,2018-11-11,17829059,Evert,The host canceled this reservation 32 days bef...
54422,29975888,349006632,2018-11-16,48610121,Monica,"De verdad que es una hermosura de casa, de var..."

In [4]:
# 行操作
df["date"]

0        2009-03-30
1        2009-04-24
2        2009-05-03
3        2009-05-18
4        2009-05-25
5        2009-06-29
6        2009-07-07
7        2009-09-06
8        2009-10-01
9        2009-11-04
10       2009-11-23
11       2009-11-25
12       2010-01-27
13       2010-03-24
14       2010-04-16
15       2010-04-19
16       2010-05-03
17       2010-05-24
18       2010-06-01
19       2010-06-17
20       2010-06-19
21       2010-06-27
22       2010-07-08
23       2010-08-03
24       2010-08-05
25       2010-08-30
26       2010-09-06
27       2010-09-10
28       2010-09-15
29       2010-09-26
            ...
54393    2018-11-01
54394    2018-11-11
54395    2018-10-30
54396    2018-11-04
54397    2018-11-04
54398    2018-11-14
54399    2018-11-18
54400    2018-11-06
54401    2018-10-26
54402    2018-10-26
54403    2018-10-27
54404    2018-10-30
54405    2018-11-10
54406    2018-10-29
54407    2018-11-04
54408    2018-11-18
54409    2018-11-12
54410    2018-11-04
54411    2018-11-11
54412    2018-11-14
54413    2018-11-04
54414    2018-11-09
54415    2018-10-31
54416    2018-11-01
54417    2018-11-03
54418    2018-11-04
54419    2018-11-18
54420    2018-11-17
54421    2018-11-11
54422    2018-11-16
Name: date, Length: 486253, dtype: object

In [5]:
# 多個行 [ [] ] 
# 外面[]: 行操作 裡面[]: 把欄位組合成一個list
df[ ["id", "date"] ]

              id        date
0           1191  2009-03-30
1           1771  2009-04-24
2           1989  2009-05-03
3           2797  2009-05-18
4           3151  2009-05-25
5           4748  2009-06-29
6           5202  2009-07-07
7           9131  2009-09-06
8          12103  2009-10-01
9          16196  2009-11-04
10         18095  2009-11-23
11         18286  2009-11-25
12         24925  2010-01-27
13         31154  2010-03-24
14         35916  2010-04-16
15         36774  2010-04-19
16         39856  2010-05-03
17         45708  2010-05-24
18         48766  2010-06-01
19         54108  2010-06-17
20         54654  2010-06-19
21         58048  2010-06-27
22         62552  2010-07-08
23         73222  2010-08-03
24         74084  2010-08-05
25         87063  2010-08-30
26         91025  2010-09-06
27         94243  2010-09-10
28         97728  2010-09-15
29        105516  2010-09-26
...          ...         ...
54393  343653547  2018-11-01
54394  347344854  2018-11-11
54395  343092544  2018-10-30
54396  344690448  2018-11-04
54397  344694932  2018-11-04
54398  348535132  2018-11-14
54399  349925795  2018-11-18
54400  345841671  2018-11-06
54401  341238037  2018-10-26
54402  341194365  2018-10-26
54403  341514671  2018-10-27
54404  343101091  2018-10-30
54405  346955244  2018-11-10
54406  342757153  2018-10-29
54407  344976456  2018-11-04
54408  349934265  2018-11-18
54409  347880941  2018-11-12
54410  344852096  2018-11-04
54411  347349983  2018-11-11
54412  348516499  2018-11-14
54413  344915807  2018-11-04
54414  346586206  2018-11-09
54415  343379052  2018-10-31
54416  343612142  2018-11-01
54417  344269173  2018-11-03
54418  344670394  2018-11-04
54419  349755114  2018-11-18
54420  349413895  2018-11-17
54421  347757589  2018-11-11
54422  349006632  2018-11-16

[486253 rows x 2 columns]

In [6]:
# 取得前5列
df.head(5)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...

In [7]:
# 取得後5列
df.tail(5)

,listing_id,id,date,reviewer_id,reviewer_name,comments
54418,29682609,344670394,2018-11-04,46374070,Ed,I stayed during a special circumstance (they a...
54419,29797685,349755114,2018-11-18,226146141,Yanaika,Wij hebben een super verblijf gehad dit in com...
54420,29845958,349413895,2018-11-17,9727326,Billie,Top verhuurders. Heel toffe attentie! Heel tof...
54421,29934730,347757589,2018-11-11,17829059,Evert,The host canceled this reservation 32 days bef...
54422,29975888,349006632,2018-11-16,48610121,Monica,"De verdad que es una hermosura de casa, de var..."

In [8]:
# 取得特定列 :iloc
df.iloc[5]

listing_id                                                    2818
id                                                            4748
date                                                    2009-06-29
reviewer_id                                                  20192
reviewer_name                                                  Jie
comments         Daniel was a great host! He made everything so...
Name: 5, dtype: object

In [9]:
# numpy: 讓你來處理大量數字
import numpy as np
# 0~99(100不包含)
np.random.randint(0, 100, 5)

array([87, 34, 96, 34, 93])

In [10]:
# 列, 行　tuple
df.shape

(486253, 6)

In [11]:
idx = np.random.randint(0, df.shape[0], 5)
df.iloc[idx]

,listing_id,id,date,reviewer_id,reviewer_name,comments
26184,505650,33850987,2015-06-01,24947745,David,Magnifique séjour chez Irene.\r\nL'accueil éta...
281003,12865495,189942859,2017-09-03,48614915,Brett,"Great stay, clean rooms and in a perfect locat..."
368643,18894266,302812083,2018-08-06,68978126,Tingting,NaN
362671,18494062,156371642,2017-05-30,21865555,Arjun,"Great place, great location!"
51284,854328,169140859,2017-07-11,6480710,Mado,This is a fantastic home base for a family to ...